body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

main {
    margin: 20px;
}

section {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
}

h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 48px;
}

h2 {
    background-color: #f2f2f2;
	padding: 20px;
	margin: 20px 0;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(167, 18, 147, 0.2);
}

p {
    font-size: 18px;
    margin: 20px 10px;
}

ul {
    margin: 0;
    padding: 20px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

li {
    margin-right: 20px;
    margin-bottom: 20px;
    flex-basis: calc(33.33% - 20px);
}

li img {
    width: 100%;
    height: auto;
}

li h3 {
    margin-top: 10px;
    font-size: 24px;
}

li p {
    margin-top: 10px;
    font-size: 16px;
}

/* Style the footer */
footer {
    background-color: #075e74;
    color: #fff;
    padding: 5px;
    text-align: center;
}