/* Set default styles for the entire webpage */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

/* Style the header */
header {
    background-color: #26422d;
    color: #fff;
    padding: 10px;
}

/* Style the navigation menu */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

/* Style the main content section */
main {
    margin: 20px;
}

section {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
}

h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 48px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 18px;
    margin: 20px 10px;
}

ul {
    list-style-type: disc;
    margin-left: 30px;
}

li {
    margin-bottom: 5px;
}

h2 {
	background-color: #5a9669;
	padding: 20px;
	margin: 20px 0;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(11, 197, 230, 0.2);
}

/* Style the footer */
footer {
    background-color: #26422d;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Adjust social media icons size */
ul
#facebook, #twitter-logo, #youtube {
    width: 30px;
    height: 30px;
    margin-right: auto;
  }
  